*.aar
*.ap_
*.apk
*.class
*.ctxt
*.der
*.dex
*.ear
*.iml
*.jks
*.keystore
*.lock
*.log
*.nar
*.out
*.pem
*.plist
*.rar
*.so
*.tar.gz
*.tmp
*.war
*.zip

hs_err_pid*
replay_pid*

.DS_Store
.externalNativeBuild

google-services.json
/app/google-services.json
/local.properties
/secrets.properties

.cxx/
.idea/
.gradle/
.mtj.tmp/
coverage/
/build/
*/build/
/captures

